* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 500;
}

.container-page {
  height: 100vh;
  display: flex;
  align-items: stretch;
  background-color: #181820;
}

@media (max-width: 1080px) {
  .container-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #181820;
  }
}

.content {
  display: flex;
  width: 100%;
  max-width: 1440px;
  padding: 60px 0 80px 0;

  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1080px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

@media (max-width: 1080px) {
  .left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .left-section div img {
    display: none;
  }
}

.s-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
}

.s-title h1 {
  font-size: 4rem;
  font-family: "Montserrat";
  font-weight: 500;
  margin-bottom: 10px;
  color: #f6f7fa;
}

@media (max-width: 1080px) {
  .s-title h1 {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .s-title h1 {
    font-size: 2rem;
  }
}

.s-title span {
  width: 80%;
  font-size: 1.1rem;
  font-family: "Montserrat";
  font-weight: 500;
  color: #aeafc5;
}

@media (max-width: 1080px) {
  .s-title span {
    width: 100%;
    align-items: center;
    padding: 0 1rem;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .s-title span {
    font-size: 0.8rem;
  }
}

.register-form {
  width: 80%;
  display: grid;
  grid-gap: 16px;
  gap: 24px;
  grid-template-columns: repeat(1, 1fr);
}

.input-container {
  display: flex;
  align-items: center;

  padding-left: 20px;
  height: 64px;
  border-radius: 12px;
  background: #121218;
  border: 1px solid #23232c;
}

.input-container img {
  width: 25px;
  height: 25px;
}

.input-container input {
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  width: 100%;
  height: 100%;
  transition: border-color 0.2s;
  color: #fafbff;
  outline: none;
  padding: 12px 20px 12px 15px;
  background: #121218;
}

.input-container input::placeholder {
  color: #aeafc5;
  font-family: "Roboto";
  font-size: 1rem;
}

.login-button {
  display: flex;
  justify-content: space-between;
}
.login-button button {
  padding: 20px 10px;
  width: 45%;
  border-radius: 12px;

  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

  font-family: "Montserrat";
}

@media (max-width: 480px) {
  .login-button button {
    padding: 1rem 0.5rem;
    font-size: 0.8rem;
  }
}

.back-button {
  background-color: #fafbff;
  box-shadow: 0px 3px 6px hsl(0, 0%, 85%);
  color: black;
  border: 2px solid #f5f5f5;
  font-weight: 500;
}

.back-button:hover {
  transform: translateY(-3px);
}

.recover-button {
  background-color: #484fb4;
  box-shadow: 0px 8px 15px hsl(236, 43%, 49%, 0.4);
  color: white;
  border: none;
}

.recover-button:hover {
  background-color: rgb(46, 53, 143);
  box-shadow: 0px 8px 15px hsl(236, 43%, 49%, 0.4);
  transform: translateY(-3px);
}

.create-account-text {
  width: 75%;
  margin-top: 35px;
  font-family: "Montserrat";
  font-weight: 500;
  text-align: center;
  font-size: 0.9rem;
  color: #f6f7fa;
}

@media (max-width: 480px) {
  .create-account-text {
    font-size: 0.7rem;
  }
}

.create-account-text a {
  text-align: center;
  margin-left: 10px;
  font-family: "Montserrat";
  font-weight: 600;
  text-decoration: none;
  color: #484fb4;
}

.right-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;

  padding-left: 55px;
}

@media (max-width: 1080px) {
  .right-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

    padding-left: 0px;
  }
}

.img-block img {
  width: 100%;
}

.forgot-password {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-top: 10px;
  font-family: "Montserrat";
  font-weight: 600;
  text-decoration: none;
  color: #484fb4;
}
