* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 500;
}

.s-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  background: url("../assets/bg_1.png") no-repeat 100%;
}

.container-form {
  width: 100%;
  max-width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.container-form img {
  width: 192px;
}

.s-login .s-title {
  margin: 40px 0;
}

.s-login .s-title h5 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  font-family: "Montserrat";
  color: #f6f7fa;
}

.s-login .s-title h2 {
  text-align: center;
  font-size: 2rem;
  line-height: 115.5%;
  font-family: "Montserrat";
  color: #f6f7fa;
}

.login-form {
  width: 100%;
  display: grid;
  grid-gap: 16px;
  gap: 24px;
  grid-template-columns: repeat(1, 1fr);
}

.input-container {
  display: flex;
  align-items: center;

  width: 100%;
  border-radius: 12px;
  padding: 12px 20px;
  height: 60px;
  border: 1px solid #23232c;
  background: #121218;

  letter-spacing: -0.005em;
  font-size: 0.6rem;
  font-family: "Montserrat";
}

.input-container img {
  width: 20px;
  height: 20px;
}

.input-container input {
  border: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 21px;
  width: 100%;
  height: 100%;
  transition: border-color 0.2s;
  color: #fafbff;
  outline: none;
  padding: 12px 20px 12px 15px;
  background: #121218;
}

.input-container input::placeholder {
  color: #aeafc5;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1rem;
}

.login-button {
  display: flex;
  align-items: end;
  justify-content: flex-end;
}
.login-button button {
  padding: 0.9rem 0.5rem;
  margin-top: 1.5rem;
  width: 100%;
  border-radius: 15px;
  border: none;
  background-color: #484fb4;
  box-shadow: 0px 3px 15px #474eb366;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  color: #fafbff;
}

.login-form button:hover {
  background-color: rgb(46, 53, 143);
  box-shadow: 0px 3px 15px hsl(236, 43%, 49%, 0.4);
  transform: translateY(-3px);
}

.login-form button img {
  width: 30px;
  height: 30px;
}

.forgot-password {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.forgot-password a {
  font-family: "Montserrat";
  font-weight: 600;
  text-decoration: none;
  color: #fafbff;

  display: flex;
  align-items: center;
}

.forgot-password a img {
  margin-left: 0.5rem;
  width: 20px;
  height: 20px;
}

.create-account-text {
  width: 100%;
  margin-top: 35px;
  font-family: "Montserrat";
  font-weight: 500;
  display: flex;
  justify-content: center;
  color: #fafbff;
}

.create-account-text a {
  margin-left: 10px;
  font-family: "Montserrat";
  font-weight: 600;
  text-decoration: none;
  color: #484fb4;
}
