.s-about {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 90vh;

  margin: 0;
  padding: 0;
}

.s-about h1 {
  margin-bottom: 0;

  font-family: Montserrat;
  font-size: 3rem;
  color: #3e3f4c;
  font-weight: 500;
}

.s-about strong {
  font-family: Montserrat;
  font-size: 1.5rem;
  color: #aeafc5;
  font-weight: 500;
}

.s-about footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: auto;
}

.s-about footer span {
  font-family: Montserrat;
  font-size: 0.75rem;
  color: #aeafc5;
  font-weight: 400;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 6rem auto;
  width: 100%;
  max-width: 800px;
}

.wrapper container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1.5rem;
  background-color: rgb(252, 252, 252);
  box-shadow: 2px 3px 8px #a2a2a366;
  border-radius: 6px;

  transition: all 0.25s ease;
}

.wrapper container:hover {
  transform: scale(1.1);
}

.wrapper circle {
  display: flex;
  align-items: center;
  background: #484fb4;
  border-radius: 50px;
  padding: 0.9rem;

  box-shadow: 2px 3px 8px #474eb366;
}

.wrapper p {
  font-family: Roboto;
  text-align: center;
  line-height: 1.3;
  color: #3c3c3f;
  font-weight: 400;

  margin-bottom: 0;
}
